/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;  /*padding не влияет на размер блока*/
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;   /* установливает для всех элементов и псевдоэлементов наследование от родителя*/
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;   /*чтобы изображение никогда не превышало размер контейнера*/
  height: auto;     /*сжимается пропорционально по высоте*/
  background-size: cover;
}

.wrapper {              /*ограничивает контент*/
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;    /*при уменьшении размера страницы текст не прилипает к краям*/
}

.wrapper-full {    /*еще одна обертка, чтобы ограничить секции*/
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;  /*при уменьшении размера страницы текст не прилипает к краям*/
}

.section-title {   /*применим стили для всех подзаголовков*/
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;  /*родитель псевдоэлемента*/
  padding-bottom: 10px;  /*7px расстояние + полоска 3px*/
}

.section-title::after {
  display: block;
  content: '';  /*пустой контент для того, чтобы псевдоэлемент появился на странице*/
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*header styles start*/

.header {
  position: fixed;  /*фиксируем шапку, чтобы при скролинге она оставалась в верхней части экрана*/
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header_active {
  background: #0E1D28;
}

.header__wrapper{       /*создается для того, чтобы задать расположение nav  и logo*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;      /*отвечает за перенос контента на другую строку*/
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; /*вертикальное выравнивание*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /*выравниваем по краям*/
  padding-top: 36px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {     /*применяем стили к последнему элементу*/
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: .75;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}
  

/*header styles end*/

/*intro styles start*/
.intro {
  min-height: 100vh;
  background: url(../img/Hero-min.jpg) no-repeat center;
  background-size: cover;         /*картинка полностью покрывает блок при любых его размерах*/
  padding-top: 263px;
  padding-bottom: 376px;           /*заголовок прибит к верху, так как header не участвует в общем потоке (из-зи position: fixed;)*/
}

.intro__title {
  max-width: 619px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 22px;    /*расстояние между блоками удабно задавать либо всегда снизу, либо всегда сверху*/
}

.intro__subtitle {
  max-width: 546px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 59px;
}

.search-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-form__field {
  width: 297px;      /*задаем ширину жестко, для того, чтобы когда будем делать адаптив элементы не сжимались (текст обрежется)*/
  background-color: transparent;  /*прозрачный бэкграунд*/
  background: url(../img/svg/Oval.svg) no-repeat left 6px; /*кружочки смещаем вверх, на уровень текста*/
  background-size: 20px;
  border: 0px;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__field::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;  /*текст заглавными буквами*/
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background: #1B7DFF;
  border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
  background: #1a67ce;
}

/*intro styles end*/

/*Benefits styles start*/
.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background-color: #FFFFFF;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative; /*для того, чтобы спозиционировать title*/
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;  /*выпадает из общего потока документа(его размеры не учитываются)*/
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); /*сдвигаем на 100% высоты элемента*/
  background-color: #FFFFFF;
}

.benefits__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  -ms-grid-column-span: 1;
  grid-column: span 1;  /*карточки занимают по одной колонке*/
  margin-bottom: 112px;
}

.benefits__card-pic {
  max-width: 66px;  /*органичиваем по ширине*/
  margin-bottom: 37px;
}

.benefits__card-thumb {
  display: block;   /*убираем все отступы у картинок или svg*/
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrowRight.svg) no-repeat 95% center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus {
  background: url(../img/svg/arrowRight.svg) no-repeat right center;
}
/*Benefits styles end*/

/*Places styles start*/
.places {
  margin-bottom: 131px;
}

.places-title {
  /*margin-bottom: 36px;  /*измеряем от планочки*/
  margin-right: 15px; /*при уменьшении экрана элементы сблизятся, нужно, чтобы между ними остался отступ (отступ безопасности)*/
} 

.places__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;  /*задаем не для заголовка, чтобы элементы выровнялись по центру*/
}

.places__view-all {
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrowRight.svg) no-repeat right center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.places__view-all:hover, .places__view-all:focus {
  opacity: .7;
}

.places__cards { /*создаем грид контейнер, количество колонок должно делится и на 2 и на 3*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.places__card_size_lg {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.places__card_size_sm {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card::after {  /*изображение теперь растягивается не на всю ширину контейнера, можно прописать width 100%  или использовать свойство transform gridscale  и прописать overfloy: hidden*/
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
 
.places__card:hover .places__card-pic {    /*будем менять размеры изибражений*/
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);   /*чтобы не вылазили за пределы контейнера для places__card указывае overfloy*/
}

.places__card-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card-pic {
  width: 100%;
  -webkit-transition: .15s all;
  -o-transition: .15s all;
  transition: .15s all;
}

.places__card-pic_size_lg {
  height: 354px;  /*задаем жестко, чтобы получить картинки одинаковой высоты*/
  -o-object-fit: cover;
     object-fit: cover;  /*указывает как изображение будет маштабироваться внутри контейнера*/
}

.places__card-pic_size_sm {
  height: 283px;  /*задаем жестко, чтобы получить картинки одинаковой высоты*/
  -o-object-fit: cover;
     object-fit: cover;  /*указывает как изображение будет маштабироваться внутри контейнера*/
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/*Places styles end*/

/*Tours styles start*/
.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 108px 1fr;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 108px; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}

/*.tour_info:last-child{
  padding-left: 47px;
}*/

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__more {
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrowRight.svg) no-repeat right center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.tour__more:hover, .tour__more:focus {
  opacity: .7;
}
/*Tours styles end*/

/*Top styles start*/
.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 57px;
  row-gap: 57px;

}

.top__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;  /*выравниваем, если высота контента будет разная*/
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-thumb {
  width: 100%;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 auto 0 0; /*для флексов*/
}

.top__cadr-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 20px;
  background: url(../img/svg/heart-ico.svg) no-repeat right;
  margin-right: 14px;
}

.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 23px;
  background: url(../img/svg/comment-ico.svg) no-repeat right;
}

.top__card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top__card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more {
  width: 118px;
  padding: 12px 19px;
  background: #006DFE;
  text-decoration: none;
  color: #FFFFFF;
  margin: auto 0 0 0;   /*кнопка прибита к низу*/
}

.top__card-more:hover, .top__card-more:focus {
  background: #1a67ce;
}
/*Top styles end*/

/*Videos styles start*/
.videos {
  width: 100%;
}

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {    /*вычисляем размер padding-top 100% *9/16 (размер видео  */
  padding-top: 56.25%;   /*padding-top который задается а процентах всегда расчитыывается от ширины блока*/
}

.video__element {
  position: absolute;   /*поднимаем видео*/
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Videos styles end*/

/*Footer styles start*/
.footer {
  background: #0E1D28;
  padding: 119px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
  opacity: .75;
}
/*Footer styles end*/

/*Media start*/

@media screen and (max-width: 960px) { /*меняем стили для iPad*/
  .search-form__field {
    margin-bottom: 25px;
  }

  .benefits {
    margin-bottom: 75px;
  }

  .benefits__cards {
    padding: 0 15px;
    gap: 35px;
  }

  .benefits__card {
    margin-bottom: 60px;
  }

  .benefits__title {
    padding: 55px 15px;
  }

  .benefits__wrap {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .places__card_size_lg {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .places__card_size_sm {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .tours__tour {
    column-gap: 35px;
  }

  .tour__info {
    padding-left: 0;
  }

  .tour__title {
    margin-bottom: 15px;
  }

  .tour__desc {
    margin-bottom: 15px;
  }

  .top__cards {
    column-gap: 25px;
    row-gap: 55px;
  }

  .top__card {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .top__card-pic {
    margin-bottom: 25px;
  }

  .footer {
    padding: 60px 0;
  }
}


@media screen and (max-width: 767px) {  /* разрешение меньше чем ширина ipad, можно адаптировать под mobile*/
  .section-title {
    margin-bottom: 25px;
  }

  .section-title::after {
    width: 78px;
  }

  .header__burger {
    display: block;
  }

  .header__wrapper {
    padding-top: 28px;
  }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0E1D28;
    z-index: 10;
    padding: 75px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); /*сдвинем на ширину вправо*/
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
  }

  .header__nav-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
   
  }

  .header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  .intro {
    padding-top: 100px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }

  .intro__subtitle {
    font-size: 14px;
  }

  .search-form__field {
    width: 100%;
    margin-right: 0;
    padding-bottom: 12px;
    background: url(../img/svg/Oval.svg) no-repeat left 2px;
  }

  .search-form__field::-webkit-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::-moz-placeholder {
    font-size: 16px;
  }

  .search-form__field:-ms-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::-ms-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::placeholder {
    font-size: 16px;
  }

  .benefits {
    margin-bottom: 36px;
  }
  
  .benefits__card {
    -ms-grid-column-span: 3;
    grid-column: span 3;
    margin-bottom: 40px;
  }

  .benefits__card-pic {
    margin-bottom: 20px;
  }

  .benefits__card-title {
    margin-bottom: 12px;
  }

  .benefits__card-desc {
    margin-bottom: 20px;
  }
  .places {
    margin-bottom: 76px;
  }

  .places__card-pic_size_lg, .places__card-pic_size_sm {
    height: 230px;
  }

  .places__view-all {
    margin-bottom: 25px;
  }

  .places__caption {
    margin-bottom: 0;
  }

  .tours {
    margin-bottom: 76px;
  }

  .tour-pic, .tour__info {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .tour-pic {
    margin-bottom: 12px;
  }

  .tour-pic_mob-first {
    -ms-grid-row-start: -1;
        grid-row-start: -1;
  }

  .tours__tour {
    margin-bottom: 50px;
  }

  .top {
    margin-bottom: 76px;
  }

  .top__card {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .top__card-desc {
    margin-bottom: 15px;
  }

  .footer__logo {
    width: 100%;
    margin-bottom: 12px;
  }

  .footer__nav {
    width: 100%;
  } 
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }

  .search-form__submit {
    width: 100%;
  }

  .footer__menu {
    width: 50%;
    margin-bottom: 24px;
  }
}
/*Media end*/